<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Word Counter</title>
</head>
<body>
    <h1>Word Counter</h1>
    <form action="{% url 'count' %}" method="get">
        <textarea name="fulltext" cols="30" rows="10"></textarea>
        <br>
        <input type="submit" value="Count!">
    </form>
    <hr>
    <a href="{% url 'about' %}">About Us</a>
</body>
</html>